$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: #ff8c00;

@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover{
  color: white;
  text-decoration: none;
}
body {
  padding-top: 80px;
}
.nav_item {
  padding-top: 50px;
  margin-left: 50px;
  float: none;
  margin-top: 20px;
  margin-right: 20px;
}
.center{
  text-align: center;
}
h1, h2, h3{
  line-height: 1;
}
